ANALYTICS_ENABLED=true
API_KEY_SECRET=7434fedd47bdd48a86563f1dd9bfb6eee7a1744eb84d1a403420424e66a73dde
API_VERSION=v1
BASE_URL=http://localhost:5000
CLOUDINARY_API_KEY=598169228916649
CLOUDINARY_API_SECRET=P5EBZMAyEDfw07Z2vscEEQJY9Kk
CLOUDINARY_CLOUD_NAME=dkluatnmq
CORS_ORIGIN=https://transactlab-payment-sandbox.vercel.app
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:5173
EMAIL_FROM=noreply@transactlab.com
ENCRYPTION_KEY=7c27e3efa5978c37d9f35b96cf36ecbd734ef6986f913cc293e0036429b95092
FRAUD_DETECTION_ENABLED=true
FRONTEND_URL=https://transactlab-payment-sandbox.vercel.app
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
JWT_REFRESH_SECRET=f0c422d1abf5ea63f4bb0cbbe950fc97658128d5fae7e761ddb17b83fba8d292695e92a1690cd4aa44d3ea207d5437680766e2e302f7c1a05f9bf822dfc7a620
JWT_SECRET=350107c936ee207bb8b7aa671d747930cf20c60b417f92e5499f199c4712828d2629665d571dd4d7708502f661554ef40e0e451be05061d1c2ba78b52d4e7168
KYC_PROVIDER_API_KEY=kyc_mffkh0oi_e066ndfzy9t
KYC_PROVIDER_BASE_URL=https://kycplayground.vercel.app
KYC_PROVIDER_RETURN_URL=http://localhost:8080/auth/kyc/callback
KYC_PROVIDER_WEBHOOK_URL=https://transactlab-backend.onrender.com/api/v1/auth/webhooks/kyc
LOG_FILE_PATH=./logs
LOG_LEVEL=info
MAX_FILE_SIZE=5242880
MONGODB_URI= "mongodb+srv://divo:divo135790@cluster0.tx34lud.mongodb.net/transactlab?appName=Cluster0"
NODE_ENV=development
PORT=5000
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_MS=900000
REACT_APP_CLOUDINARY_API_KEY=598169228916649
REACT_APP_CLOUDINARY_API_SECRET=P5EBZMAyEDfw07Z2vscEEQJY9Kk
REACT_APP_CLOUDINARY_CLOUD_NAME=dkluatnmq
REDIS_HOST=redis-12719.c273.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PASSWORD=tnemnd8O0lAXy7xnzNST4vKwCJ2TxyNL
REDIS_PORT=12719
REDIS_URL=redis://default:tnemnd8O0lAXy7xnzNST4vKwCJ2TxyNL@redis-12719.c273.us-east-1-2.ec2.redns.redis-cloud.com:12719
SESSION_SECRET=c08d37e8607475a7aa15d67bec97c81759bcadb2b09c13945059da4a5ac9889677d2d4735a3bb853019890d6e923075bf8c0453790e6c32cf8808615bf0714ba
SMTP_HOST=smtp.mailgun.org
SMTP_PASS=Sendemail135790!
SMTP_PORT=587
SMTP_USER=support@portlybuilder.com
TL_BASE=https://transactlab-backend.onrender.com
TRUSTED_IPS=0bb0ff7d65fae3ce3b333c72dd5add1f
UPLOAD_PATH=./uploads
WEBHOOK_MAX_RETRIES=3
WEBHOOK_SECRET=bc0b5e010198cef095629b7ef2ea9f2c2aebc79a6b8417a09dba17b10f55c5a4
WEBHOOK_TIMEOUT=10000
RESEND_API_KEY=re_BNSDYLxh_nrPbuNrRUipv217PaJv7zjrv 
EMAIL_FROM=onboarding@resend.dev