# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific ignored folders
src/store/appStore.ts
src/styles/
src/pages/admin/
src/pages/analytics/
src/pages/customers/
src/components/merchant/
src/pages/payments/
